In [103]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [104]:
import os

plt.rc('font', family = 'Malgun Gothic')
plt.rc('axes', unicode_minus=False)

In [105]:
%config InlineBackend.figure_format = 'retina'

In [106]:
df = pd.read_csv('./data/건강검진정보(2017).csv', encoding='cp949')
print(df.shape)
df.head()

(1000000, 34)

,기준년도,가입자일련번호,성별코드,연령대코드(5세단위),시도코드,신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),...,감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,결손치유무,치아마모증유무,제3대구치(사랑니)이상,치석,데이터공개일자
0,2017,1,1,8,43,170,75,90.0,1.0,1.0,...,40.0,1.0,1.0,1,NaN,NaN,NaN,NaN,1.0,20181126
1,2017,2,1,7,11,180,80,89.0,0.9,1.2,...,27.0,3.0,0.0,1,NaN,NaN,NaN,NaN,2.0,20181126
2,2017,3,1,9,41,165,75,91.0,1.2,1.5,...,68.0,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20181126
3,2017,4,1,11,48,175,80,91.0,1.5,1.2,...,18.0,1.0,0.0,1,NaN,NaN,NaN,NaN,0.0,20181126
4,2017,5,1,11,30,165,60,80.0,1.0,1.2,...,25.0,1.0,0.0,1,NaN,NaN,NaN,NaN,0.0,20181126

In [107]:
df.tail()

,기준년도,가입자일련번호,성별코드,연령대코드(5세단위),시도코드,신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),...,감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,결손치유무,치아마모증유무,제3대구치(사랑니)이상,치석,데이터공개일자
999995,2017,999996,1,10,48,175,80,92.1,1.5,1.5,...,27.0,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20181126
999996,2017,999997,1,8,41,170,75,86.0,1.0,1.5,...,15.0,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20181126
999997,2017,999998,2,9,26,155,50,68.0,1.0,0.7,...,17.0,3.0,1.0,0,NaN,NaN,NaN,NaN,NaN,20181126
999998,2017,999999,1,6,29,175,60,72.0,1.5,1.0,...,17.0,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20181126
999999,2017,1000000,1,11,41,160,70,90.5,1.0,1.5,...,36.0,3.0,1.0,0,NaN,NaN,NaN,NaN,NaN,20181126

In [108]:
df.sample()

,기준년도,가입자일련번호,성별코드,연령대코드(5세단위),시도코드,신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),...,감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,결손치유무,치아마모증유무,제3대구치(사랑니)이상,치석,데이터공개일자
104049,2017,104050,2,11,41,145,60,81.0,1.0,1.0,...,32.0,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20181126

In [109]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 34 columns):
기준년도            1000000 non-null int64
가입자일련번호         1000000 non-null int64
성별코드            1000000 non-null int64
연령대코드(5세단위)     1000000 non-null int64
시도코드            1000000 non-null int64
신장(5Cm단위)       1000000 non-null int64
체중(5Kg단위)       1000000 non-null int64
허리둘레            999734 non-null float64
시력(좌)           999817 non-null float64
시력(우)           999811 non-null float64
청력(좌)           999842 non-null float64
청력(우)           999844 non-null float64
수축기혈압           999981 non-null float64
이완기혈압           999982 non-null float64
식전혈당(공복혈당)      999958 non-null float64
총콜레스테롤          999957 non-null float64
트리글리세라이드        999955 non-null float64
HDL콜레스테롤        999956 non-null float64
LDL콜레스테롤        997088 non-null float64
혈색소             999948 non-null float64
요단백             995408 non-null float64
혈청크레아티닌         999957 non-null float64
(혈청지오티)AST      999959 non-null float64
(혈청지오티)ALT      999958 non-null float64
감마지티피           999958 non-null float64
흡연상태            999856 non-null float64
음주여부            999464 non-null float64
구강검진수검여부        1000000 non-null int64
치아우식증유무         0 non-null float64
결손치유무           0 non-null float64
치아마모증유무         0 non-null float64
제3대구치(사랑니)이상    0 non-null float64
치석              400523 non-null float64
데이터공개일자         1000000 non-null int64
dtypes: float64(25), int64(9)
memory usage: 259.4 MB

In [110]:
df.columns

Index(['기준년도', '가입자일련번호', '성별코드', '연령대코드(5세단위)', '시도코드', '신장(5Cm단위)',
       '체중(5Kg단위)', '허리둘레', '시력(좌)', '시력(우)', '청력(좌)', '청력(우)', '수축기혈압',
       '이완기혈압', '식전혈당(공복혈당)', '총콜레스테롤', '트리글리세라이드', 'HDL콜레스테롤', 'LDL콜레스테롤',
       '혈색소', '요단백', '혈청크레아티닌', '(혈청지오티)AST', '(혈청지오티)ALT', '감마지티피', '흡연상태',
       '음주여부', '구강검진수검여부', '치아우식증유무', '결손치유무', '치아마모증유무', '제3대구치(사랑니)이상', '치석',
       '데이터공개일자'],
      dtype='object')

In [111]:
df.dtypes

기준년도              int64
가입자일련번호           int64
성별코드              int64
연령대코드(5세단위)       int64
시도코드              int64
신장(5Cm단위)         int64
체중(5Kg단위)         int64
허리둘레            float64
시력(좌)           float64
시력(우)           float64
청력(좌)           float64
청력(우)           float64
수축기혈압           float64
이완기혈압           float64
식전혈당(공복혈당)      float64
총콜레스테롤          float64
트리글리세라이드        float64
HDL콜레스테롤        float64
LDL콜레스테롤        float64
혈색소             float64
요단백             float64
혈청크레아티닌         float64
(혈청지오티)AST      float64
(혈청지오티)ALT      float64
감마지티피           float64
흡연상태            float64
음주여부            float64
구강검진수검여부          int64
치아우식증유무         float64
결손치유무           float64
치아마모증유무         float64
제3대구치(사랑니)이상    float64
치석              float64
데이터공개일자           int64
dtype: object

# 4.3 로드한 데이터의 결측치를 보고 요약, 집계하기 - info, isnull, value_counts

In [112]:
df.isnull().sum()

기준년도                  0
가입자일련번호               0
성별코드                  0
연령대코드(5세단위)           0
시도코드                  0
신장(5Cm단위)             0
체중(5Kg단위)             0
허리둘레                266
시력(좌)               183
시력(우)               189
청력(좌)               158
청력(우)               156
수축기혈압                19
이완기혈압                18
식전혈당(공복혈당)           42
총콜레스테롤               43
트리글리세라이드             45
HDL콜레스테롤             44
LDL콜레스테롤           2912
혈색소                  52
요단백                4592
혈청크레아티닌              43
(혈청지오티)AST           41
(혈청지오티)ALT           42
감마지티피                42
흡연상태                144
음주여부                536
구강검진수검여부              0
치아우식증유무         1000000
결손치유무           1000000
치아마모증유무         1000000
제3대구치(사랑니)이상    1000000
치석               599477
데이터공개일자               0
dtype: int64

In [113]:
df.isna().sum()

기준년도                  0
가입자일련번호               0
성별코드                  0
연령대코드(5세단위)           0
시도코드                  0
신장(5Cm단위)             0
체중(5Kg단위)             0
허리둘레                266
시력(좌)               183
시력(우)               189
청력(좌)               158
청력(우)               156
수축기혈압                19
이완기혈압                18
식전혈당(공복혈당)           42
총콜레스테롤               43
트리글리세라이드             45
HDL콜레스테롤             44
LDL콜레스테롤           2912
혈색소                  52
요단백                4592
혈청크레아티닌              43
(혈청지오티)AST           41
(혈청지오티)ALT           42
감마지티피                42
흡연상태                144
음주여부                536
구강검진수검여부              0
치아우식증유무         1000000
결손치유무           1000000
치아마모증유무         1000000
제3대구치(사랑니)이상    1000000
치석               599477
데이터공개일자               0
dtype: int64

In [114]:
df.isnull().sum().plot.barh(figsize=(10,9))

TypeError: 'tuple' object is not callable

In [115]:
df.columns

Index(['기준년도', '가입자일련번호', '성별코드', '연령대코드(5세단위)', '시도코드', '신장(5Cm단위)',
       '체중(5Kg단위)', '허리둘레', '시력(좌)', '시력(우)', '청력(좌)', '청력(우)', '수축기혈압',
       '이완기혈압', '식전혈당(공복혈당)', '총콜레스테롤', '트리글리세라이드', 'HDL콜레스테롤', 'LDL콜레스테롤',
       '혈색소', '요단백', '혈청크레아티닌', '(혈청지오티)AST', '(혈청지오티)ALT', '감마지티피', '흡연상태',
       '음주여부', '구강검진수검여부', '치아우식증유무', '결손치유무', '치아마모증유무', '제3대구치(사랑니)이상', '치석',
       '데이터공개일자'],
      dtype='object')

In [116]:
df[['(혈청지오티)AST','(혈청지오티)ALT']].head()

   (혈청지오티)AST  (혈청지오티)ALT
0        21.0        35.0
1        20.0        36.0
2        47.0        32.0
3        29.0        34.0
4        19.0        12.0

In [117]:
df[['(혈청지오티)AST','(혈청지오티)ALT']].describe()

          (혈청지오티)AST     (혈청지오티)ALT
count  999959.000000  999958.000000
mean       25.994671      25.749509
std        23.587469      26.294770
min         1.000000       1.000000
25%        19.000000      15.000000
50%        23.000000      20.000000
75%        28.000000      29.000000
max      9999.000000    7210.000000

In [118]:
df['성별코드'].value_counts()

1    530410
2    469590
Name: 성별코드, dtype: int64

In [119]:
df['흡연상태'].value_counts()  
#흡연했다가 금연하는 사람들

1.0    607942
3.0    215702
2.0    176212
Name: 흡연상태, dtype: int64

# 4.4 groupBy와 pivot_table로 다양한 집계 연산 하기

In [120]:
df.groupby(['성별코드'])['가입자일련번호'].count()

성별코드
1    530410
2    469590
Name: 가입자일련번호, dtype: int64

In [121]:
df.groupby(['성별코드','음주여부'])['가입자일련번호'].count()

성별코드  음주여부
1     0.0     173612
      1.0     356587
2     0.0     326827
      1.0     142438
Name: 가입자일련번호, dtype: int64

In [122]:
df.groupby(['성별코드','음주여부'])['감마지티피'].describe()

              count       mean        std  min   25%   50%   75%    max
성별코드 음주여부
1    0.0   173604.0  34.739868  37.606197  1.0  18.0  25.0  38.0  999.0
     1.0   356576.0  56.610981  68.851128  1.0  24.0  37.0  63.0  999.0
2    0.0   326813.0  22.612408  25.203579  1.0  13.0  17.0  24.0  999.0
     1.0   142429.0  25.001018  36.725100  1.0  13.0  17.0  25.0  999.0

In [123]:
df.groupby(['성별코드','음주여부'])['감마지티피'].agg(['count','mean','median'])

            count       mean  median
성별코드 음주여부
1    0.0   173604  34.739868    25.0
     1.0   356576  56.610981    37.0
2    0.0   326813  22.612408    17.0
     1.0   142429  25.001018    17.0

In [124]:
df.pivot_table(index='음주여부', values='가입자일련번호', aggfunc='count')

      가입자일련번호
음주여부
0.0    500439
1.0    499025

In [125]:
pd.pivot_table(df, index='음주여부', values='감마지티피', aggfunc=['count','mean'])

       count       mean
       감마지티피      감마지티피
음주여부
0.0   500417  26.819650
1.0   499005  47.588675

In [126]:
pd.pivot_table(df, index=['성별코드','음주여부'], values='감마지티피', aggfunc='describe')

            25%   50%   75%     count    max       mean  min        std
성별코드 음주여부
1    0.0   18.0  25.0  38.0  173604.0  999.0  34.739868  1.0  37.606197
     1.0   24.0  37.0  63.0  356576.0  999.0  56.610981  1.0  68.851128
2    0.0   13.0  17.0  24.0  326813.0  999.0  22.612408  1.0  25.203579
     1.0   13.0  17.0  25.0  142429.0  999.0  25.001018  1.0  36.725100

# 4.5 히스토그램으로 전체 수치 데이터를 한번에 시각화 하기

In [130]:
h = df.hist(figsize=(12,10))

TypeError: 'tuple' object is not callable

In [128]:
h = df.iloc[:, :12].hist(figsize=(12,12))

TypeError: 'tuple' object is not callable

In [129]:
a= df.iloc[:,12:24].hist(figsize=(12,12), bins= 100)

TypeError: 'tuple' object is not callable

In [ ]:
a= df.iloc[:,24:].hist(figsize=(12,12), bins= 100)

# 4.6 데이터의 빈도수 시각화 하기(막대그래프1) - countplot

In [ ]:
df.sample(1000, random_state=1)

In [93]:
df['음주여부'].value_counts().plot.bar()

TypeError: 'tuple' object is not callable

In [94]:
sns.countplot(data=df, x='음주여부')

TypeError: 'tuple' object is not callable

In [97]:
sns.set(font_scale=1, font="Malgun Gothic")
sns.countplot(data=df, x='연령대코드(5세단위)', hue='음주여부')

TypeError: 'tuple' object is not callable

In [100]:
plt.figure(figsize=(10,5))
sns.countplot(data=df, x='신장(5Cm단위)')

TypeError: 'tuple' object is not callable

In [101]:
plt.figure(figsize=(10,5))
sns.countplot(data=df, x='체중(5Kg단위)')

TypeError: 'tuple' object is not callable

In [102]:
plt.figure(figsize=(10,5))
sns.countplot(data=df, x='신장(5Cm단위)', hue='성별코드')

TypeError: 'tuple' object is not callable

In [ ]:
plt.figure(figsize=(10,5))
sns.countplot(data=df, x='체중(5Kg단위)', hue='음주여부')

# 4.7 수치형 vs 범주형 데이터의 시각화(막대그래프2) - barplot

In [ ]:
df_sample = df.sample(1000, random_state=1)
df_sample.shape

In [ ]:
df['음주여부'].value_counts().plot.bar(rot=0)

In [ ]:
sns.countplot(data=df, x='음주여부', hue='성별코드')

In [ ]:
sns.countplot(data=df, x='연령대코드(5세단위)', hue='음주여부')

In [ ]:
plt.figure(figsize=(10,10))
sns.countplot(data=df, x='신장(5Cm단위)', hue='성별코드')

In [ ]:
plt.figure(figsize=(10,10))
sns.countplot(data=df, x='체중(5Kg단위)', hue ='음주여부')

# 4.7 수치형 vs 범주형 데이터의 시각화(막대그래프2) - barplot

In [ ]:
df.columns

In [ ]:
sns.barplot(data=df_sample, x='연령대코드(5세단위)', y='총콜레스테롤', hue='음주여부')

In [ ]:
plt.figure(figsize=(10,10))
sns.barplot(data=df_sample, x='연령대코드(5세단위)', y='총콜레스테롤', hue='흡연상태')